body{

font-family: Verdana !Important;
color:#fff;
font-size: 14px;
}
.nav-link img
{
	margin:0 auto;
}
.img-responsive
{
    display: block;
    width: 100%;
    height: auto;
	margin: 0 auto;
}
#navbar-size
{
	width:500px;
}
.navbar-nav > li{
display: inline-block !important;
vertical-align: middle !important;
width:20%;
}
.navbar-header > li > a > img {
width: 100%;
height: auto;
max-width: 300px;
}

.nav-item > a {
	font-size:10px !important;
	color:#fff !important;
	text-align: center;
	line-height: 50px;
}
.dark {
    background-color: #323232 !important;
}




* {
  margin: 0;
  padding: 0;
}



.menu-size {
  width: 532px;
  margin: 25px auto;
}
#white{
	background:#fff !important;
}

form {
  
  
  color: #fff;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
form textarea{
   width: 100%;
   background: #343a40;
   color: #fff;
   padding: 0 6px;
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
   border-color: transparent;
   resize:none;
   height:150px;
}

form input{
  border: 0;
  margin-top: 5px;
  display: block;
  width: 100%;
}
form input
 {
  height: 25px;
  line-height: 25px;
  background: #343a40;
  color: #fff;
  padding: 0 6px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
form button {
  height: 40px;
  width:100px;
  
  background: #5dbcd2;
  color: #fff;
  margin: 10px 0 20px;
  cursor: pointer;
  float:right;
  border:none;
  font-size:12px;
}
form .error {
  color: #ff0000;
}
#triangle {
	width: 0;
	height: 0;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-top: 21px solid #323232;
	margin: -25px auto 0;
}

#blue
{background:#2eb398!Important;}
.green{
	color:#2e8b57!Important;
}
.dark2
{
color:#343a40;
margin-left:5%;
margin-top:10px;
margin-bottom:10px;
}
.black{
	background:#000;}
}
.carousel{
    background: #2f4357;
    margin-top: 20px;
}
.carousel-item{
    text-align: center;
    min-height: 280px; 
}
.carousel-control-prev-icon,
.carousel-control-next
{
	display: none;
}
.carousel-indicators .active
{
	background:#848484;
}
.carousel-indicators li
{
background:#dad3cc;
width:5px;
height:5px;
margin-left:2px;
margin-right:2px;
}
.carousel-indicators {
bottom:0;
right:auto;
left:0;
margin-left:5%;
margin-right:0;
}
.line-left
{
	float:left;
	color:#000;
	width:44%;
	height:20px;
	border-top: 1px solid #dad3cc;
	margin-top:10px;
	
}

.line-right{
	float:right;
	color:#000;
	width:44%;
	height:20px;
	border-top: 1px solid #dad3cc;
	margin-top:-10px;
}
#blue-box
{
	padding:35px 0;
}
#main
{
	padding:35px 0;
}
.saicons
{
	margin-left:-5px;
}
.sabox
{
	width:150px;
	float:right;
}
p
{
	text-align: justify;
}

@media (max-width: 574px) 
{ 
	.menu-size 
	{
		width: 100%;
		
	}
	.row
	{
		width:100%;
		margin-left:0;
		margin-right:0;
	}
	#navbar-size,.navbar-nav > li 
	{
		width: 100%;
	}
	.nav-item > a
	{
		line-height:20px;
	}
	
}